/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

/* universal */

body{
    background-color: #F4F4F9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

}

li a{
    text-decoration: none;
}

/* underline effect for links  */

.u-line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition:  .3s
}

.u-line:hover::after{
    width: 100%;
    transition: width .3s;
}

/* fade features */
.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

/* Navigation  */

.title{
    align-items: center;
    font-size: 5vh;
    font-family: 'Encode Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.shop-nav li{
    display: inline-block;
    font-size: 25px;
    padding-right: 5vh;
    text-decoration: none;
}

.shop-nav li a{
    color: black;
}

.open-slide{
    display: none;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sign-items ul{
    float:right;
    padding-right: 15vh
}

.sign-items li{
    display: inline;
    padding-right: 2vh;
}

.sign-items li a{
    color: black;
}


/* first image div */

.wrapper2{
    height: 100%;
    width: 100%;
    padding-bottom: 5vh;
}

.image1{
    background-image: url("../images/couple.jpg");
    background-size: 100% 100%;
    max-height: 100%;
    max-width: 100%;
    height: 70vh; 
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.image1 h1{
    color: white;
    font-size: 6vh;
    width: 100%;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 15vh;
}

.image1 h2{
    color: white;
    font-size: 2vh;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 5vh;
}

.image1 ul{
    padding-top: 10vh;
}

.image1 li{
    display: inline;
    font-size: 2vh;
    padding-right: 10vw;
}

.image1 li a{
    color:white;
}

/* Second image div  */

.wrapper3{
    width: 100%;
    min-height: 500px;
    height: 500px;
    padding-bottom: 5vh;
}

.image2{
    background-image: url("../images/clothes.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}

.image2 h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    letter-spacing: 4px;
    margin: auto;
    position: absolute;
    top: 100px;
    width: 100%;
}


/*  sign up div */

.wrapper4{
    background-color: #95B8D1;
    width: 100%;
    max-height: 500px;
    height: 500px;
    padding: 5px 0 5px 0;

}

.wrapper4 li{
    list-style: none;
    margin: 0px;
    width: 100%;
}

.wrapper4 h2{
    width: 100%;
    font-size: 3em;
}

.wrapper4 p{
    font-size: 3em;
    min-width: 100px;
    width: 100%;
}

.wrapper4 form{ 
    position: relative;

}

.wrapper4 input{
    background-color:rgb(241, 241, 241);
    border: 3px solid black;
    height: 7vh;
    max-width: 800px;
    width: 100%;
}

.wrapper4 button{
    background-color: rgb(238, 130, 97);
    border: 3px solid black;
    height: 8vh;
    width: 30vh;
    font-size: 30px;  
}

/* social media */
.wrapper5{
    height: 500px;
    position: relative;
}

.image3{
    background-image: url("../images/fashion.jpg");
    background-attachment: fixed;
    background-position: 60% 60%;
    background-size: cover;
    height: 500px;
}

.container{
    width: 100%;
    height: 500px;
}

.follow{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}


.follow h2{
    font-size: 3vw;
    font-size: 4vh;
    padding-bottom: 10px;
}


.follow li{
    list-style: none;

}

.facebook{
    max-width: 500px;
    min-width: 40px;
    width: 100%;
}

.instagram{
    max-width: 500px;
    min-width: 40px;
    width: 100%;
}

.pinterest{
    max-width: 500px;
    min-width: 40px;
    width: 100%;
}

.twitter{
    max-width: 500px;
    min-width: 40px;
    width: 100%;
}


/* about */

.wrapper6{
    background-color: #F9EAE1;
    padding: 5vh 0 5vh 0;
    max-height: 400px;
    width: 100%;
}

.about h2{
    font-size: 3vw;
    font-size: 4vh;
    padding-bottom: 10px;
}

.about ul{
    position: relative;
    bottom: 50%;
}

.about li{
    display: inline-block;
    margin-right: 30px;
    font-size: 3vw;
    font-size: 4vh;
    list-style: none;
    
}

.about li a{
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

/* bottom div  */

.wrapper7{
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #2f394D;
}

.wrapper7 li{
    display: inline;
    color: white;
    letter-spacing: 2px;
    padding-right: 15px;
}

.wrapper7 li a{
    color: white;
}

.wrapper7 p{
    color: white;
    letter-spacing: 2px;
}


@media screen and (max-width: 786px) {
.body{
    overflow-x: hidden;
}

.shop-nav{
    display: none;
}

.open-slide{
    display: block;
}

 /* first image ul  */
 .image1 ul{
    padding-top: 10px;
}

/* Second image div  */

.wrapper3{
    width: 100%;
    height: 300px;
    padding-bottom: 5vh;
}

.image2{
    background-image: url("../images/clothes.jpg");
    background-position: center;
    position: relative;
}

.image2 h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 8vw;
    letter-spacing: 4px;
    position: absolute;
    top: 180px;
    width: 100%;
}

/* wrapper 4 */
.wrapper4 {
    background-color: #95B8D1;
    height: 100%;
    min-height: 250px;
    padding: 5px 0 5px 0;
}

.wrapper4 ul{
    margin-right: 50px;
}

.wrapper4 li{
    list-style: none;
    margin: 0px;
    width: 100%;
}

.wrapper4 h2{
    width: 100%;
    font-size: 2em;
}

.wrapper4 p{
    font-size: 1em;
    width: 100%;
}

.wrapper4 form{
    position: relative;
    width: 100%;

}

.wrapper4 input{
    background-color:rgb(241, 241, 241);
    border: 3px solid black;
    height: 7vh;
    width: 70vw;
    margin-bottom: 20px;
    margin-right: 20px;
}

.wrapper4 button{
    background-color: rgb(238, 130, 97);
    border: 3px solid black;
    height: 8vh;
    width: 110px;
    font-size: 1em;  
}

/* wrapper 5 */

.image3{
    background-image: url("../images/fashion.jpg");
    background-position: center;
    height: 500px;
}

.follow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 50px;
    padding-top: 150px;
}

.facebook{
    max-width: 100px;
    min-width: 40px;
    width: 100%;
}

.instagram{
    max-width: 100px;
    min-width: 40px;
    width: 100%;
}

.pinterest{
    max-width: 100px;
    min-width: 40px;
    width: 100%;
}

.twitter {
    max-width: 100px;
    min-width: 40px;
    width: 100%;
}
}